{% load static %}

<div class="bg-white p-6 rounded-lg shadow-md hidden" id="strategy_builder">
    <h2 class="text-2xl font-bold mb-4">Strategy Builder</h2>
    <button type="button" class="hide-strategy-builder bg-gray-500 hover:bg-gray-600 rounded-full w-6 h-6 flex items-center justify-center shadow-md transition-colors duration-200">
        <svg class="w-3.5 h-3.5 text-white" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="15" y1="5" x2="5" y2="15" />
            <line x1="5" y1="5" x2="15" y2="15" />
        </svg>
    </button>
    <form id="strategy_form" class="space-y-4">
        <div>
            <label for="strategy_name" class="block text-sm font-medium text-gray-700">Strategy Name</label>
            <input type="text" id="strategy_name" name="strategy_name" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" required>
        </div>
        <div>
            <label for="indicators" class="block text-sm font-medium text-gray-700">Conditions</label>
        </div>
        {% include 'strategies/_condition_builder.html' %}
        <div>
            <button type="sumbit" class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700">Save Strategy</button>   
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>

<script>
    document.querySelector('.hide-strategy-builder').addEventListener('click', () => {
        document.getElementById('strategy_builder').classList.add('hidden');
    });
</script>
