{% load static %}

<div class="col-span-1">
    <div id="strategy-selector" class="border bg-white rounded-2xl p-5 shadow self-start mb-3">
        <!-- Strategy selector will be rendered here by /static/backtests/strategy_selector.js -->
    </div>

    <div class="space-y-4">
        <div>
            <label for="strategy_name" class="block text-sm font-medium text-gray-700">Initial Balance</label>
            <input type="number" id="initial-balance-input" step="100" min="0" max="100000" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" placeholder="1000">
        </div>
        <div>
            <label for="strategy_name" class="block text-sm font-medium text-gray-700">Token</label>
            <select id="token-select" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2">
                <option value="BTCUSDT">BTCUSDT</option>
                <option value="ETHUSDT">ETHUSDT</option>
                <option value="BNBUSDT">BNBUSDT</option>
            </select>
        </div>
        <div>
            <label for="strategy_name" class="block text-sm font-medium text-gray-700">Timeframe</label>
            <select id="timeframe-select" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2">
                <option value="15m">15m</option>
                <option value="30m">30m</option>
                <option value="1h">1h</option>
                <option value="2h">2h</option>
                <option value="4h">4h</option>
                <option value="1d">1d</option>
            </select>
        </div>
        <div>
            <label for="strategy_name" class="block text-sm font-medium text-gray-700">Candle Amount</label>
            <input type="text" id="candle-amount-input" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2" placeholder="500">
        </div>
    </div>
</div>

<div class="border bg-white rounded-2xl p-5 h-full shadow col-span-2">
    <h2 class="text-lg font-semibold mb-3">Strategy Description</h2>
    <label id="strategy-description-placeholder" class="text-gray-500">Select a strategy to see its description here.</label>
    <div id="strategy-description">
        <!-- Strategy description will be rendered here -->
    </div>
</div>  
<!---
<div class="mx-auto border bg-white rounded-2xl p-5 shadow self-start w-1/2 mt-6 col-span-3">
    <span class="relative flex items-center justify-center bg-teal-100 text-teal-700 font-semibold rounded-full capitalize tracking-wide">
        <button id="start-backtest-btn" class="w-full block text-center bg-teal-600 text-white py-2 px-4 rounded-md hover:bg-teal-700 transition-colors">
            Start Backtest
        </button>
    </span>
</div>
-->
<div class="mx-auto border bg-white rounded-2xl p-5 shadow self-start w-1/2 mt-6 col-span-3 flex items-center justify-between space-x-4">
    <button id="start-backtest-btn" class="w-1/2 bg-teal-600 text-white py-2 px-4 rounded-md hover:bg-teal-700 transition-colors">
        Start Backtest
    </button>

    <button id="save-backtest-btn" class="w-1/2 bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 transition-opacity">
        Save Backtest
    </button>
</div>

<script type="module">
    import StrategySelector from "/static/backtests/strategy_selector.js";
    import BacktestResults from "/static/backtests/backtest_results.js";
    import BacktestRunner from "/static/backtests/backtest_runner.js";

    const backtestResults = new BacktestResults('#backtest-results');
    const backtestRunner = new BacktestRunner();

    backtestRunner.prepare('save-backtest-btn');

    // Load Strategies
    fetch('/api/strategies/get')
        .then(res => {
            if (res.status === 401) {
                window.location.href = '/login';
                return;
            }
            return res.json();
        })
        .then(data => {
            new StrategySelector('#strategy-selector', data.strategies);
        });

    // Start Backtest Button Click
    document.getElementById('start-backtest-btn').addEventListener('click', function(event) {
        event.preventDefault();
        backtestRunner.run({
            circleImgSelector: 'loading-circle',
            saveBtnSelector: 'save-backtest-btn',
            backtestResults: backtestResults,
            selectedStrategySelector: '#strategy-selector .strategy-card-unique',
            initialBalanceSelector: 'initial-balance-input',
            tokenSelector: 'token-select',
            timeframeSelector: 'timeframe-select',
            candleAmountSelector: 'candle-amount-input'
        }).catch(error => {
            console.error("Error running backtest:", error);
        });
    });

    // Save Backtest Button Click
    document.getElementById('save-backtest-btn').addEventListener('click', function() {
        backtestRunner.save('save-backtest-btn');
    });
</script>