{% load static %}

<div class="col-span-3 h-full grid grid-cols-3 gap-4">
    <div id="strategy-selector" class="border bg-white rounded-2xl p-5 h-full shadow col-span-1">
        <!-- Condition builder will be rendered here by condition_builder.js -->
    </div>

    <div class="border bg-white rounded-2xl p-5 h-full shadow col-span-2">
        <h2 class="text-lg font-semibold mb-3">Strategy Description</h2>
        <div id="strategy-description">
            <!-- Strategy description will be rendered here -->
        </div>
    </div>
</div>

<script type="module">
    import StrategySelector from "/static/backtests/strategy_selector.js";

    fetch('/api/strategies/get')
        .then(res => {
            if (res.status === 401) {
            window.location.href = '/login';
            return;
            }
            return res.json();
        })
        .then(data => {
            new StrategySelector('#strategy-selector', data.strategies);
        });
</script>