{% load static %}

<nav class="bg-white shadow-sm p-4 flex justify-between items-center">
    <div class="flex items-center space-x-4">
        <img src="https://placehold.co/40" alt="Logo" class="rounded-full w-10 h-10" />
        <div class="text-xl font-semibold text-teal-600">Test & Bet</div>
    </div>
    <div class="space-x-6 text-gray-600 font-medium">
        <a href="/" class="hover:text-teal-600">Dashboard</a>
        <a href="/backtests/" class="hover:text-teal-600">Backtest</a>
        <a href="#" class="hover:text-teal-600">Predikce</a>
        <a href="/strategies/" class="hover:text-teal-600">Srovnání strategií</a>
    </div>
    <div class="relative group">
        <div class="group flex items-center space-x-2 cursor-pointer pb-6 pt-2 px-2">
            <img src="https://placehold.co/40" alt="User" class="rounded-full w-10 h-10" />
             {% if user.is_authenticated %}
             <div class="flex flex-col text-sm leading-tight">
                <span>  
                    {{ user.username }}
                </span>
                <form method="post" action="/registration/logout/">
                    {% csrf_token %}
                    <button type="submit" class="text-red-600 hover:underline font-medium text-left">Logout</button>
                </form>
             </div>
                {% else %}
                <div class="flex flex-col text-sm leading-tight">
                    <a href="/registration/login/" class="text-blue-600 hover:underline font-medium">log in</a>
                </div>
                {% endif %}
        
                </div>
        <div class="absolute left-0 right-0 h-4 top-full"></div>

        <div class="absolute left-1/2 -translate-x-1/2 w-56 bg-white rounded-2xl shadow-2xl border border-gray-200 p-4
            opacity-0 pointer-events-none translate-y-1 transition-all duration-200 ease-out z-50
            group-hover:opacity-100 group-hover:pointer-events-auto group-hover:translate-y-0">

            <ul class="space-y-2 text-gray-700">
                <a href="/settings/" class="block p-3 bg-gray-50 rounded-lg hover:bg-gray-100 transition font-medium">
                    Settings
                </a>
                <a href="/strategies/" class="block p-3 bg-gray-50 rounded-lg hover:bg-gray-100 transition font-medium">
                    My Strategies
                </a>
                <a href="/backtests/" class="block p-3 bg-gray-50 rounded-lg hover:bg-gray-100 transition font-medium">
                    My Backtests
                </a>
            </ul>
        </div>
    </div>
</nav>