{% extends 'core/base.html' %}
{% load static %}

{% block title %}Strategy{% endblock %}

{% block main_class %}p-6 grid grid-cols-1 gap-4{% endblock %}

{% block content %}
  {% include 'strategies/components/strategy_builder.html' %}
  {% include 'strategies/components/strategy_list.html' %}
  
  {% include 'strategies/components/condition_card.html' %}
  {% include 'strategies/components/indicator_card.html' %}
  {% include 'strategies/components/strategy_card.html' %}

  {{ strategies|json_script:"strategies-data" }}

  <script type="module" src="{% static 'strategies/pages/strategy.js' %}"></script>
{% endblock %}


