{% extends 'core/base.html' %}
{% load static %}

{% block title %}Strategy{% endblock %}

{% block main_class %}p-6 grid grid-cols-1 gap-4{% endblock %}

{% block content %}
  {% include 'strategies/components/_strategy_builder.html' %}

  <div>
    {% for strategy in strategies %}
      {% include 'strategies/components/_strategy_card.html' with strategy=strategy %}
    {% empty %}
      <p>No strategies available.</p>
    {% endfor %}
  </div>

  {% include 'strategies/components/_condition_card.html' %}
  {% include 'strategies/components/_indicator_card.html' %}

  <script type="module" src="{% static 'strategies/pages/strategy.js' %}"></script>
{% endblock %}


